.todo {
  margin: 1rem; }

.todo-input {
  margin: 1rem; }

.new-todo {
  padding: 10px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

.todo-button {
  position: relative;
  bottom: 2px; }

input[type=text], select {
  padding: 10px 14px;
  margin: 1px 20px 1px 1px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }
